/*----- Banner Section -----*/
.banner-section h1{
  font-family: Aron Pro Bold Italic;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px; 
}
.about-section p, .about-section .wp-block-buttons , .banner-section  .wp-block-buttons{
  font-family: Montserrat;
  margin-top: 5px !important;
  margin-bottom: 5px !important; 
}
.banner-section .wp-block-button__link{
  color: #ffea54 !important;
  border-color: #ffea54;
  font-size: 13px !important;
  margin-top: 0;
  letter-spacing: 2px;
  padding: 8px 20px !important;
  font-weight: 700 !important;
  font-family: Montserrat;
}
.banner-section .wp-block-button__link:hover,
.about-section .wp-block-button__link:hover{
  color: #000 !important;
  background: unset;
}

/*-------- Sweep To Right --------------*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffea54;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #000;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*----- About Section -----*/
.about-section .wp-block-button__link{
	padding: 8px 20px !important;
  	font-weight: 700 !important;
    font-size: 14px !important;
}
.about-section h2{
  border-bottom: 3px dotted #A6A6A6;
  display: inline-block;
}
.about-section .block-editor-block-list__block{
	margin: 0 0 20px;
}